{% set repos = item.repos %}
{% for repo in repos %}
[{{ repo.id }}]
name={{ repo.name }}
baseurl={{ repo.baseurl }}
{% set repo_enabled_value = repo.enabled | default(repo_enabled) %}
{% set enable_repo = 1 if (repo_enabled_value | int(0) == 1 or repo_enabled_value | lower in ['true', 'yes']) else 0 %}
enabled={{ enable_repo }}
{% set repo_gpgcheck_value = repo.gpgcheck | default(repo_gpgcheck) %}
{% set enable_gpgcheck = 1 if (repo_gpgcheck_value | int(0) == 1 or repo_gpgcheck_value | lower in ['true', 'yes']) else 0 %}
gpgcheck={{ enable_gpgcheck }}
{% for key, value in repo.iteritems() %}
{% if key not in ['id', 'name', 'baseurl', 'enabled', 'gpgcheck'] and value is defined and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}

{% endfor %}
