apiVersion: v1
kind: OAuthClient
metadata:
  name: kibana-proxy
  labels:
    logging-infra: support
secret: {{secret}}
redirectURIs:
- https://{{kibana_hostname}}
{% if openshift_logging_use_ops %}
- https://{{kibana_ops_hostname}}
{% endif %}
scopeRestrictions:
- literals:
  - user:info
  - user:check-access
  - user:list-projects
