apiVersion: extensions/v1beta1
kind: "DaemonSet"
metadata:
  name: "{{ daemonset_name }}"
  labels:
    provider: openshift
    component: "{{ daemonset_component }}"
    logging-infra: "{{ daemonset_component }}"
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "24231"
    prometheus.io/scheme: "http"
spec:
  selector:
    matchLabels:
      provider: openshift
      component: "{{ daemonset_component }}"
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      minReadySeconds: 600
  template:
    metadata:
      name: "{{ daemonset_container_name }}"
      labels:
        logging-infra: "{{ daemonset_component }}"
        provider: openshift
        component: "{{ daemonset_component }}"
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: "{{ daemonset_serviceAccount }}"
      nodeSelector:
        {{ fluentd_nodeselector }}
      containers:
      - name: "{{ daemonset_container_name }}"
        image: "{{ __fluentd.image_prefix }}logging-fluentd:{{ __fluentd.image_version }}"
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
{% if (fluentd_memory_limit is defined and fluentd_memory_limit is not none) or (fluentd_cpu_limit is defined and fluentd_cpu_limit is not none) or (fluentd_cpu_request is defined and fluentd_cpu_request is not none) %}
        resources:
{%   if (fluentd_memory_limit is defined and fluentd_memory_limit is not none) or (fluentd_cpu_limit is defined and fluentd_cpu_limit is not none) %}
          limits:
{%     if fluentd_cpu_limit is not none and fluentd_cpu_limit %}
            cpu: "{{fluentd_cpu_limit}}"
{%     endif %}
{%     if fluentd_memory_limit is not none %}
            memory: "{{fluentd_memory_limit}}"
{%     endif %}
{%   endif %}
{%   if (fluentd_memory_limit is defined and fluentd_memory_limit is not none) or (fluentd_cpu_request is defined and fluentd_cpu_request is not none) %}
          requests:
{%     if fluentd_cpu_request is not none %}
            cpu: "{{fluentd_cpu_request}}"
{%     endif %}
{%     if fluentd_memory_limit is not none %}
            memory: "{{fluentd_memory_limit}}"
{%     endif %}
{%   endif %}
{% endif %}
        volumeMounts:
        - name: runlogjournal
          mountPath: /run/log/journal
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: config
          mountPath: /etc/fluent/configs.d/user
          readOnly: true
        - name: certs
          mountPath: /etc/fluent/keys
          readOnly: true
        - name: dockerhostname
          mountPath: /etc/docker-hostname
          readOnly: true
        - name: localtime
          mountPath: /etc/localtime
          readOnly: true
        - name: dockercfg
          mountPath: /etc/sysconfig/docker
          readOnly: true
        - name: dockerdaemoncfg
          mountPath: /etc/docker
          readOnly: true
        - name: originnodecfg
          mountPath: /etc/origin/node
          readOnly: true
        - name: filebufferstorage
          mountPath: /var/lib/fluentd
{% if openshift_logging.mux.client_mode is defined and
     ((openshift_logging.mux.allow_external is defined and openshift_logging.mux.allow_external | bool) or
      (openshift_logging.mux.use_mux is defined and openshift_logging.mux.use_mux | bool)) %}
        - name: muxcerts
          mountPath: /etc/fluent/muxkeys
          readOnly: true
{% endif %}
        env:
        - name: "K8S_HOST_URL"
          value: "{{ openshift_logging_fluentd_master_url }}"
        - name: "ES_HOST"
          value: "{{ app_host }}"
        - name: "ES_PORT"
          value: "{{ app_port }}"
        - name: "ES_CLIENT_CERT"
          value: "/etc/fluent/keys/cert"
        - name: "ES_CLIENT_KEY"
          value: "/etc/fluent/keys/key"
        - name: "ES_CA"
          value: "/etc/fluent/keys/ca"
        - name: "OPS_HOST"
          value: "{{ ops_host }}"
        - name: "OPS_PORT"
          value: "{{ ops_port }}"
        - name: "OPS_CLIENT_CERT"
          value: "/etc/fluent/keys/infra-cert"
        - name: "OPS_CLIENT_KEY"
          value: "/etc/fluent/keys/infra-key"
        - name: "OPS_CA"
          value: "/etc/fluent/keys/infra-ca"
        - name: "JOURNAL_SOURCE"
          value: "{{ __fluentd.journal_source | default('') }}"
        - name: "JOURNAL_READ_FROM_HEAD"
          value: "{{ __fluentd.journal_read_from_head | lower }}"
        - name: "BUFFER_QUEUE_LIMIT"
          value: "{{ __fluentd.buffer_queue_limit }}"
        - name: "BUFFER_SIZE_LIMIT"
          value: "{{ __fluentd.buffer_size_limit }}"
        - name: "FLUENTD_CPU_LIMIT"
          valueFrom:
            resourceFieldRef:
              containerName: "{{ daemonset_container_name }}"
              resource: limits.cpu
        - name: "FLUENTD_MEMORY_LIMIT"
          valueFrom:
            resourceFieldRef:
              containerName: "{{ daemonset_container_name }}"
              resource: limits.memory
        - name: "FILE_BUFFER_LIMIT"
          value: "{{ __fluentd.file_buffer_limit | default('256Mi') }}"
{% if openshift_logging.mux.client_mode is defined and
     ((openshift_logging.mux.allow_external is defined and openshift_logging.mux.allow_external | bool) or
      (openshift_logging.mux.use_mux is defined and openshift_logging.mux.use_mux | bool)) %}
        - name: "MUX_CLIENT_MODE"
          value: "{{ openshift_logging.mux.client_mode }}"
{% endif %}
{% if openshift_logging.eventrouter.install is defined and openshift_logging.eventrouter.install %}
        - name: "TRANSFORM_EVENTS"
          value: "true"
{% endif %}

{% if __fluentd.remote_syslog is defined and __fluentd.remote_syslog.use_remote_syslog %}
        - name: USE_REMOTE_SYSLOG
          value: "true"
{% endif %}

{% if __fluentd.remote_syslog.host is defined %}
        - name: REMOTE_SYSLOG_HOST
          value: "{{ __fluentd.remote_syslog.host }}"
{% endif %}

{% if __fluentd.remote_syslog.port is defined %}
        - name: REMOTE_SYSLOG_PORT
          value: "{{ __fluentd.remote_syslog.port }}"
{% endif %}

{% if __fluentd.remote_syslog.severity is defined %}
        - name: REMOTE_SYSLOG_SEVERITY
          value: "{{ __fluentd.remote_syslog.severity }}"
{% endif %}

{% if __fluentd.remote_syslog.facility is defined %}
        - name: REMOTE_SYSLOG_FACILITY
          value: "{{ __fluentd.remote_syslog.facility }}"
{% endif %}

{% if __fluentd.remote_syslog.remove_tag_prefix is defined %}
        - name: REMOTE_SYSLOG_REMOVE_TAG_PREFIX
          value: "{{ __fluentd.remote_syslog.remove_tag_prefix }}"
{% endif %}

{% if __fluentd.remote_syslog.tag_key is defined %}
        - name: REMOTE_SYSLOG_TAG_KEY
          value: "{{ __fluentd.remote_syslog.tag_key }}"
{% endif %}

{% if __fluentd.remote_syslog.use_record is defined %}
        - name: REMOTE_SYSLOG_USE_RECORD
          value: "{{ __fluentd.remote_syslog.use_record }}"
{% endif %}

{% if __fluentd.remote_syslog.payload_key is defined %}
        - name: REMOTE_SYSLOG_PAYLOAD_KEY
          value: "{{ __fluentd.remote_syslog.payload_key }}"
{% endif %}

{% if __fluentd.audit.container_engine %}
        - name: "AUDIT_CONTAINER_ENGINE"
          value: "{{ __fluentd.audit.container_engine | lower }}"
{% endif %}

{% if __fluentd.audit.container_engine %}
        - name: "NODE_NAME"
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
{% endif %}

{% if __fluentd.audit.log_file != '' %}
        - name: AUDIT_FILE
          value: "{{ __fluentd.audit.log_file }}"
{% endif %}

{% if __fluentd.audit.pos_log_file != '' %}
        - name: AUDIT_POS_FILE
          value: "{{ __fluentd.audit.pos_log_file }}"
{% endif %}

      volumes:
      - name: runlogjournal
        hostPath:
          path: /run/log/journal
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: config
        configMap:
          name: logging-fluentd
      - name: certs
        secret:
          secretName: logging-fluentd
      - name: dockerhostname
        hostPath:
          path: /etc/hostname
      - name: localtime
        hostPath:
          path: /etc/localtime
      - name: dockercfg
        hostPath:
          path: /etc/sysconfig/docker
      - name: originnodecfg
        hostPath:
          path: /etc/origin/node
      - name: dockerdaemoncfg
        hostPath:
          path: /etc/docker
{% if openshift_logging.mux.client_mode is defined and
     ((openshift_logging.mux.allow_external is defined and openshift_logging.mux.allow_external | bool) or
      (openshift_logging.mux.use_mux is defined and openshift_logging.mux.use_mux | bool)) %}
      - name: muxcerts
        secret:
          secretName: logging-mux
{% endif %}
      - name: filebufferstorage
        hostPath:
          path: "/var/lib/fluentd"
