apiVersion: v1
kind: Project
metadata:
{% if annotations is mapping %}
  annotations:
{% for key, value in annotations.items() %}
    {{key}}: "{{value}}"
{% endfor %}
{% endif %}
  name: {{ project_name }}
