apiVersion: v1
kind: Secret
metadata:
  name: "{{ name }}"
  labels:
{% for k, v in labels.iteritems() %}
    {{ k }}: {{ v }}
{% endfor %}
data:
{% for k, v in data.iteritems() %}
  {{ k }}: {{ v }}
{% endfor %}
