apiVersion: v1
kind: Secret
metadata:
  name: "{{ name }}"
{% if annotations is defined%}
  annotations:
{% for key, value in annotations.iteritems() %}
    {{key}}: {{value}}
{% endfor %}
{% endif %}
  labels:
{% for k, v in labels.iteritems() %}
    {{ k }}: {{ v }}
{% endfor %}
data:
{% for k, v in data.iteritems() %}
  {{ k }}: {{ v }}
{% endfor %}
