{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "pv-{{ inventory_hostname | regex_replace("\.", "-")  }}-{{ item }}",
    "labels": {
      "type": "nfs"
    }
  },
  "spec": {
    "capacity": {
      "storage": "{{ r_openshift_storage_nfs_lvm_volume_size }}Gi"
    },
    "accessModes": [ "ReadWriteOnce", "ReadWriteMany" ],
    "persistentVolumeReclaimPolicy": "{{ r_openshift_storage_nfs_lvm_volume_reclaim_policy }}",
    "nfs": {
      "server": "{{ inventory_hostname }}",
      "path": "{{ r_openshift_storage_nfs_lvm_mount_dir }}/{{ item }}"
    }
  }
}
