strict-order
no-resolv
no-negcache
domain-needed
server=/{{ openshift.common.dns_domain }}/{{ openshift.common.kube_svc_ip }}
{% if openshift_node_dnsmasq_max_ttl | default("") != "" %}
max-cache-ttl={{ openshift_node_dnsmasq_max_ttl | default("") }}
{% endif %}
{% if openshift_node_dnsmasq_cache_size | default("") != "" %}
cache-size={{ openshift_node_dnsmasq_cache_size | default("") }}
{% endif %}
{% if openshift_node_dnsmasq_forward_max | default("") != "" %}
dns-forward-max={{ openshift_node_dnsmasq_forward_max | default("") }}
{% endif %}
