# config file for ansible -- http://ansible.com/
# ==============================================

# This config file provides examples for running
# the OpenShift playbooks with the provided
# inventory scripts.

[defaults]
# Set the log_path
#log_path = /tmp/ansible.log

# Additional default options for OpenShift Ansible
callback_plugins = callback_plugins/
forks = 20
host_key_checking = False
retry_files_enabled = False
retry_files_save_path = ~/ansible-installer-retries
nocows = True

# Uncomment to use the provided BYO inventory
#hostfile = inventory/byo/hosts

# Uncomment to use the provided GCE dynamic inventory script
#hostfile = inventory/gce/gce.py

# Uncomment to use the provided AWS dynamic inventory script
#hostfile = inventory/aws/ec2.py

# Additional ssh options for OpenShift Ansible
[ssh_connection]
pipelining = True
