[defaults]
timeout = 20
forks = 40
host_key_checking = False
#remote_user = root
roles_path = roles/
gathering = smart
#fact_caching = jsonfile
#fact_caching_connection = /tmp/ansible_cache
#fact_caching_timeout = 600

[privilege_escalation]
become = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
control_path = %(directory)s/%%h-%%r
pipelining = True
