# config file for ansible -- http://ansible.com/
# ==============================================

# This config file provides examples for running
# the OpenShift playbooks with the provided
# inventory scripts. Only global defaults are
# left uncommented

[defaults]
# Add the roles directory to the roles path
roles_path = roles/

# Set the log_path
log_path = /tmp/ansible.log

# Uncomment to use the provided BYO inventory
#hostfile = inventory/byo/hosts

# Uncomment to use the provided GCE dynamic inventory script
#hostfile = inventory/gce/gce.py

# Uncomment to use the provided AWS dynamic inventory script
#hostfile = inventory/aws/ec2.py
