# Versions are pinned to prevent pypi releases arbitrarily breaking
# tests with new APIs/semantics. We want to update versions deliberately.

# flake8 must be listed before pylint to avoid dependency conflicts
flake8==3.3.0
flake8-mutable==1.1.0
flake8-print==2.0.2
pylint==1.6.5
setuptools-lint==0.5.2
yamllint==1.6.1
coverage==4.3.4
mock==2.0.0
pytest==3.0.7
pytest-cov==2.4.0
python-dateutil==2.7.3
