# Versions are pinned to prevent pypi releases arbitrarily breaking
# tests with new APIs/semantics. We want to update versions deliberately.

# flake8 must be listed before pylint to avoid dependency conflicts
flake8==3.7.7
flake8-mutable==1.2.0
flake8-print==3.1.0
pylint==1.9.4
setuptools-lint==0.6.0
yamllint==1.15.0
