# File templates/etc_sysconfig_iptables.j2
# Firewall rules set by ansible-couchbase-server Couchbase Server role
# Allows new TCP connections to the following network ports:
# 
# * Secure Shell (SSH): TCP/22
# * Erlang Port Mapper Daemon (EPMD): TCP/4369
# * Couchbase Server Admin/REST port: TCP/8091
# * Couchbase Server Admin/REST SSL port: TCP/18091
# * Couchbase Server API port: TCP/8092
# * Couchbase Server API SSL port: TCP/18092
# * Couchbase Server intracluster port range: TCP 11207-11215 
# * Couchbase Server intracluster data port range: TCP 21100-21299


-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_sshd_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_epmd_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_admin_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_admin_ssl_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_api_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_api_ssl_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_internal_ports }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server_node_data_ports }} -j ACCEPT
