[req]
prompt = no
distinguished_name = req_distinguished_name

default_md = sha256

[req_distinguished_name]
CN=*.{{ openshift_master_default_subdomain }}

[req_ext]
subjectAltName = @alt_names
basicConstraints=critical,CA:FALSE
keyUsage=critical,digitalSignature, keyEncipherment
extendedKeyUsage=serverAuth

[alt_names]
{% for dns in [ '*.' ~ openshift_master_default_subdomain, openshift_master_default_subdomain ] %}
DNS.{{ loop.index }} = {{ dns }}
{% endfor %}
