# {{ ansible_managed }}

[Service]
{% if openshift_http_proxy is defined %}
Environment=HTTP_PROXY={{ openshift_http_proxy }}
{% endif -%}
{% if openshift_https_proxy is defined %}
Environment=HTTPS_PROXY={{ openshift_https_proxy }}
{% endif -%}
{% if openshift_no_proxy is defined %}
Environment=NO_PROXY={{ openshift_no_proxy }}
{% endif %}
{%- if os_firewall_use_firewalld|default(false) %}
[Unit]
Wants=iptables.service
After=iptables.service
{%- endif %}
