[Unit]
Description=The Etcd Server container
After={{ openshift.docker.service_name }}.service
Requires={{ openshift.docker.service_name }}.service
PartOf={{ openshift.docker.service_name }}.service

[Service]
EnvironmentFile={{ r_etcd_common_conf_file }}
ExecStartPre=-/usr/bin/docker rm -f {{ r_etcd_common_service }}
ExecStart=/usr/bin/docker run --name {{ r_etcd_common_service }} --rm -v {{ r_etcd_common_data_dir }}:{{ r_etcd_common_data_dir }}:z -v {{ r_etcd_common_conf_dir }}:{{ r_etcd_common_conf_dir }}:ro --env-file={{ r_etcd_common_conf_file }} --net=host --entrypoint=/usr/bin/etcd {{ openshift.etcd.etcd_image }}
ExecStop=/usr/bin/docker stop {{ r_etcd_common_service }}
SyslogIdentifier=etcd_container
Restart=always
RestartSec=5s

[Install]
WantedBy={{ openshift.docker.service_name }}.service
