{% macro cipher_suites() -%}
{% for cipher in openshift_master_cipher_suites | default([]) -%}
{% if loop.last -%}
{{ cipher }}
{%- else -%}
{{ cipher }},
{%- endif -%}
{% endfor -%}
{% endmacro -%}
kind: Pod
apiVersion: v1
metadata:
  name: master-etcd
  namespace: kube-system
  labels:
    openshift.io/control-plane: "true"
    openshift.io/component: etcd
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
spec:
  restartPolicy: Always
  hostNetwork: true
  containers:
  - name: etcd
    image: {{ etcd_image }}
    workingDir: /var/lib/etcd
    command: ["/bin/sh", "-c"]
    args:
    - |
      #!/bin/sh
      set -o allexport
      source /etc/etcd/etcd.conf
      exec etcd
{%- if cipher_suites() -%}
  {{' --cipher-suites='}}{{ cipher_suites() }}
{%- endif %}

    securityContext:
      privileged: true
    volumeMounts:
     - mountPath: /etc/etcd/
       name: master-config
       readOnly: true
     - mountPath: /var/lib/etcd/
       name: master-data
    livenessProbe:
      exec:
        command:
        - etcdctl
        - --cert-file
        - {{ etcd_peer_cert_file }}
        - --key-file
        - {{ etcd_peer_key_file }}
        - --ca-file
        - {{ etcd_peer_ca_file }}
        - -C
        - {{ etcd_peer_url_scheme }}://{{ etcd_ip }}:{{ etcd_client_port }}
        - cluster-health
      initialDelaySeconds: 45
  volumes:
  - name: master-config
    hostPath:
      path: /etc/etcd/
  - name: master-data
    hostPath:
      path: /var/lib/etcd
