---
###########################
# Engine Connection
###########################
ovirt_compatibility_version: 4.2
ovirt_engine_url:       # https://engine.example.com/ovirt-engine/api
ovirt_engine_user:      # admin@internal
ovirt_engine_password:  # secret

# CA file copied from engine:/etc/pki/ovirt-engine/ca.pem
# path is relative to openshift-cluster directory
ovirt_engine_cafile:    # ../ca.pem

ovirt_data_center_name: # Default
openshift_rhv_cluster:      # Default
openshift_rhv_data_store: # vmstore
openshift_rhv_ssh_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

# If desired to create DNS entries automatically
#openshift_rhv_nsupdate_server:  localhost
#openshift_rhv_nsupdate_key:
#  name: rndc-key
#  secret: 'XYXYXYXYXYXYXYXYXYXY+h=='
#  algorithm: hmac-md5
#

##########################
# Template Creation
# https://github.com/oVirt/ovirt-ansible-image-template
##########################
ovirt_qcow_url: # https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2c
ovirt_image_path: "{{ lookup('env', 'HOME') }}/Downloads/{{ ovirt_template_name }}.qcow2"
ovirt_template_name: # rhel75
ovirt_template_cluster: "{{ openshift_rhv_cluster }}"
ovirt_template_memory: 8GiB
ovirt_template_cpu: 1
ovirt_template_disk_storage: "{{ openshift_rhv_data_store }}"
ovirt_template_disk_size: 60GiB
ovirt_template_nics:
  - name: nic1
    profile_name: # ovirtmgmt
    interface: virtio

##########################
# Virtual Machines
##########################
ovirt_vm_infra_wait_for_ip: true # Required to gather IP addresses from amchines after
ovirt_vm_infra_wait_for_ip_retries: 10 # Higher than default to wait for all IPs on all VMs
ovirt_vm_infra_wait_for_ip_delay: 8

# Virtual machine profile for master nodes
# Differs from node profile by 16GiB RAM, extra disk for etcd
master_vm:
  cluster: "{{ openshift_rhv_cluster }}"
  template: "{{ ovirt_template_name }}"
  memory: 16GiB
  cores: 2
  high_availability: true
  disks:
    - size: 15GiB
      storage_domain: "{{ openshift_rhv_data_store }}"
      name: docker_disk
      interface: virtio
    - size: 30GiB
      storage_domain: "{{ openshift_rhv_data_store }}"
      name: localvol_disk
      interface: virtio
    - size: 25GiB
      storage_domain: "{{ openshift_rhv_data_store }}"
      name: etcd_disk
      interface: virtio
  state: running

# Virtual Machine profile for rest of nodes
node_vm:
  cluster: "{{ openshift_rhv_cluster }}"
  template: "{{ ovirt_template_name }}"
  memory: 8GiB
  cores: 2
  disks:
    - size: 15GiB
      storage_domain: "{{ openshift_rhv_data_store }}"
      name: docker_disk
      interface: virtio
    - size: 30GiB
      storage_domain: "{{ openshift_rhv_data_store }}"
      name: localvol_disk
      interface: virtio
  state: running
...
