tinker panic 0

disable monitor
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict -6 ::1

server 127.127.1.0

# Driftfile.
driftfile /var/lib/ntp/drift
