no-resolv
domain-needed
{% if openshift_node_dnsmasq_enable_negative_cache %}
neg-ttl={{ openshift_node_dnsmasq_enable_negative_cache_ttl }}
{% else %}
no-negcache
{% endif %}
max-cache-ttl=1
enable-dbus
dns-forward-max=5000
cache-size=5000
bind-dynamic
{% for interface in openshift_node_dnsmasq_except_interfaces %}
except-interface={{ interface }}
{% endfor %}
# End of config
