# config file for ansible -- http://ansible.com/
# ==============================================
[defaults]
ansible_user = openshift
forks = 50
# work around privilege escalation timeouts in ansible
timeout = 30
host_key_checking = false
inventory = inventory
inventory_ignore_extensions = secrets.py, .pyc, .cfg, .crt
gathering = smart
retry_files_enabled = false
fact_caching = jsonfile
fact_caching_connection = .ansible/cached_facts
fact_caching_timeout = 900
stdout_callback = skippy
callback_whitelist = profile_tasks
lookup_plugins = openshift-ansible-contrib/lookup_plugins


[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=900s -o GSSAPIAuthentication=no
control_path = /var/tmp/%%h-%%r
pipelining = True
