---
apiVersion: v1
data:
{% for class in persistentlocalstorage_classes %}
  {{class}}: '{ "hostDir": "/mnt/local-storage/{{ class }}", "mountDir" : "/mnt/local-storage/{{ class }}" }'
{% endfor %}
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: local-volume-provisioner-config
