---
apiVersion: v1
kind: Endpoints
metadata:
  name: {{ openshift.hosted.registry.storage.glusterfs.endpoints }}
subsets:
- addresses:
{% for ip in openshift_hosted_registry_storage_glusterfs_ips %}
  - ip: {{ ip }}
{% endfor %}
  ports:
  - port: 1
