[Unit]
Description=Atomic OpenShift Master Controllers
Documentation=https://github.com/openshift/origin
After=network.target
After={{ openshift.common.service_type }}-master-api.service
Before={{ openshift.common.service_type }}-node.service
Requires=network.target

[Service]
{% if openshift.common.version_greater_than_3_1_1_or_1_1_1 | bool %}
Type=notify
{% else %}
Type=simple
{% endif %}
EnvironmentFile=/etc/sysconfig/{{ openshift.common.service_type }}-master-controllers
Environment=GOTRACEBACK=crash
ExecStart=/usr/bin/openshift start master controllers --config=${CONFIG_FILE} $OPTIONS
LimitNOFILE=131072
LimitCORE=infinity
WorkingDirectory={{ openshift.common.data_dir }}
SyslogIdentifier={{ openshift.common.service_type }}-master-controllers
Restart=on-failure

[Install]
WantedBy=multi-user.target
WantedBy={{ openshift.common.service_type }}-node.service
