[{{ repo_tag }}]
name={{ repo_name }}
baseurl={{ repo_baseurl }}
enabled={{ repo_enabled }}
gpg_check={{ repo_gpg_check }}
sslverify={{ repo_sslverify }}
sslclientcert={{ repo_client_cert }}
sslclientkey={{ repo_client_key }}
gpgkey={{ repo_gpgkey }}
