OPTIONS=--loglevel={{ openshift.master.debug_level }}
CONFIG_FILE={{ openshift_master_config_file }}
{% if openshift.common.is_containerized | bool %}
IMAGE_VERSION={{ openshift_version }}
{% endif %}

{% if 'cloudprovider' in openshift and 'aws' in openshift.cloudprovider and 'kind' in openshift.cloudprovider and openshift.cloudprovider.kind == 'aws' and 'access_key' in openshift.cloudprovider.aws and 'secret_key' in openshift.cloudprovider.aws %}
AWS_ACCESS_KEY_ID={{ openshift.cloudprovider.aws.access_key }}
AWS_SECRET_ACCESS_KEY={{ openshift.cloudprovider.aws.secret_key }}
{% endif %}

# Proxy configuration
# See https://docs.openshift.com/enterprise/latest/install_config/install/advanced_install.html#configuring-global-proxy
{% if 'http_proxy' in openshift.common or 'https_proxy' in openshift.common %}
HTTP_PROXY='{{ openshift.common.http_proxy | default('') }}'
HTTPS_PROXY='{{ openshift.common.https_proxy | default('')}}'
NO_PROXY='{{ openshift.common.no_proxy | default('') | join(',') }},{{ openshift.master.portal_net }},{{ openshift.master.sdn_cluster_network_cidr }}'
{% else %}
#HTTP_PROXY=http://user:pass@proxy.example.com
#HTTPS_PROXY=http://user:pass@proxy.example.com
#NO_PROXY='.hosts.example.com'
{% endif %}

