apiVersion: v1
kind: SessionSecrets
secrets:
{% for secret in openshift.master.session_auth_secrets %}
- authentication: "{{ openshift.master.session_auth_secrets[loop.index0] }}"
  encryption: "{{ openshift.master.session_encryption_secrets[loop.index0] }}"
{% endfor %}
