version: 0.1
log:
  level: debug
http:
  addr: :5000
storage:
  cache:
    layerinfo: inmemory
  s3:
    accesskey: {{ aws_access_key }}
    secretkey: {{ aws_secret_key }}
    region: {{ aws_bucket_region }}
    bucket: {{ aws_bucket_name }}
    encrypt: true
    secure: true
    v4auth: true
    rootdirectory: /registry
auth:
  openshift:
    realm: openshift
middleware:
  repository:
    - name: openshift
