[nodes:children]
bootstrap
masters
workers

[nodes:vars]
ansible_ssh_user=${OCP_SSH_USER}
ansible_become=True

openshift_install_config_path="${OCP_INSTALL_CONFIG_PATH}"
openshift_deployment_type=origin
openshift_release=v4.0

[bootstrap]
${OCP_CLUSTER_NAME}-bootstrap.${OCP_BASE_DOMAIN}

[bootstrap:vars]
openshift_ignition_file_path="${OCP_IGNITION_PATH}"

[masters]
${MASTERS_LIST}

[workers]
${WORKERS_LIST}
