---
apiVersion: v1
kind: List
items:
- apiVersion: rbac.authorization.k8s.io/v1beta1
  kind: Role
  metadata:
    annotations:
      rbac.authorization.kubernetes.io/autoupdate: "true"
    name: prometheus-metrics-viewer
    namespace: {{ namespace }}
  rules:
  - apiGroups:
    - metrics.openshift.io
    resources:
    - prometheus
    verbs:
    - view
- apiVersion: rbac.authorization.k8s.io/v1beta1
  kind: RoleBinding
  metadata:
    name: prometheus-metrics-viewer
    namespace: {{ namespace }}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: prometheus-metrics-viewer
  subjects:
  - kind: ServiceAccount
    namespace: {{ role_namespace }}
    name: {{ role_user }}
