apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-alertmanager
  labels:
    storage: prometheus-alertmanager
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    path: /exports/prometheus-alertmanager
    server: {{ openshift_prometheus_nfs_server }}
  persistentVolumeReclaimPolicy: Retain
