apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus
  labels:
    storage: prometheus
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    path: /exports/prometheus
    server: {{ openshift_prometheus_nfs_server }}
  persistentVolumeReclaimPolicy: Retain
