apiVersion: v1
kind: Service
metadata:
  name: controller-manager
spec:
  ports:
  - port: 6443
    protocol: TCP
    targetPort: 6443
  selector:
    app: controller-manager
  sessionAffinity: None
  type: ClusterIP
