[Unit]
Description="{{ openshift_service_type }} Master API"
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=10m
ExecStart=/bin/bash /usr/local/bin/{{ openshift_service_type }}-master-api start
ExecStop=-/bin/bash /usr/local/bin/{{ openshift_service_type }}-master-api stop
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
