[Unit]
Description=Container proxy-monitoring-1


[Service]
Type=simple
TimeoutStartSec=5m
Slice=container-small.slice

ExecStartPre=-/usr/bin/docker rm "proxy-monitoring-1"

ExecStart=/usr/bin/docker run --rm --name "proxy-monitoring-1"                \
          --volumes-from proxy-shared-data-1                                  \
          -a stdout -a stderr                                                 \
          -e "OO_ENV={{ oo_env }}"                                            \
          -e "OO_CTR_TYPE=proxy"                                              \
          -e "OO_ZABBIX_HOSTGROUPS={{ oo_zabbix_hostgroups | join(',') }}"    \
          -e "OO_ZABBIX_TEMPLATES=Template OpenShift Proxy Ctr"               \
          "docker-registry.ops.rhcloud.com/oso-v2-monitoring:{{ oo_env }}"

ExecReload=-/usr/bin/docker stop "proxy-monitoring-1"
ExecReload=-/usr/bin/docker rm "proxy-monitoring-1"
ExecStop=-/usr/bin/docker stop "proxy-monitoring-1"

[Install]
WantedBy=container.target

# Container information
X-ContainerId=proxy-monitoring-1
X-ContainerImage=docker-registry.ops.rhcloud.com/oso-v2-monitoring:{{ oo_env }}
X-ContainerUserId=
X-ContainerRequestId=LwiWtYWaAvSavH6Ze53QJg
X-ContainerType=simple
X-PortMapping=80:80
X-PortMapping=443:443
X-PortMapping=4999:4999
