[all:vars]
openshift_ovirt_dns_zone=  # example.com

[OSEv3:children]
nodes
masters
etcd
lb

[OSEv3:vars]
# General variables
ansible_user=root
openshift_deployment_type=origin
#openshift_deployment_type=openshift-enterprise
openshift_enable_service_catalog=False

# Ansible Broker - add quay.io/rgolangh registry - works with latest ansible broker v3.11
ansible_service_broker_registry_type=quay
ansible_service_broker_registry_name=quay.io
ansible_service_broker_registry_url=https://quay.io
ansible_service_broker_registry_user=
ansible_service_broker_registry_password=
ansible_service_broker_registry_organization=rgolangh
ansible_service_broker_registry_tag=latest
ansible_service_broker_registry_whitelist=[.*-apb$]
ansible_service_broker_registry_blacklist=[.*automation-broker-apb$]

# Hostnames
load_balancer_hostname=lb0.{{openshift_ovirt_dns_zone}}
openshift_master_cluster_hostname="{{ load_balancer_hostname }}"
openshift_master_cluster_public_hostname=openshift-master.{{ openshift_ovirt_dns_zone }}
openshift_master_default_subdomain=apps.{{ openshift_ovirt_dns_zone }}
openshift_public_hostname="{{openshift_master_cluster_public_hostname}}"

# Docker setup for extra disks on nodes
container_runtime_docker_storage_setup_device=/dev/vdb
container_runtime_docker_storage_type=overlay2
openshift_node_local_quota_per_fsgroup=512Mi

[masters:vars]
container_runtime_extra_storage=[{'device': '/dev/vdc', 'path': '/var/lib/origin/openshift.local.volumes', 'options': 'gquota', 'filesystem': 'xfs', 'format': 'True'}, {'device': '/dev/vdd', 'path': '/var/lib/etcd', 'hosts': 'masters', 'filesystem': 'xfs', 'format': 'True'}]

[nodes:vars]
container_runtime_extra_storage=[{'device': '/dev/vdc', 'path': '/var/lib/origin/openshift.local.volumes', 'options': 'gquota', 'filesystem': 'xfs', 'format': 'True'}]

[masters]
# will be filled automatically by openshift_ovirt role

[nodes]
# will be filled automatically by openshift_ovirt role

[etcd]
# will be filled automatically by openshift_ovirt role

[infras]
# will be filled automatically by openshift_ovirt role

[lb]
# will be filled automatically by openshift_ovirt role

# vim: set syntax=dosini
