# This is a systemd file to run this docker container under systemd.
# To make this work:
#  * pull the image (probably from ops docker registry)
#  * place this file in /etc/systemd/system without the .systemd extension
#  * run the commands:
#  systemctl daemon-reload
#  systemctl enable zagg-client-docker
#  systemctl start zagg-client-docker
#
#
[Unit]
Description=Zagg Client Contatainer
Requires=docker.service
After=docker.service


[Service]
Type=simple
TimeoutStartSec=5m
#Slice=container-small.slice

ExecStartPre=-/usr/bin/docker rm "oso-rhel7-zagg-client"


ExecStart=/usr/bin/docker run --name oso-rhel7-zagg-client                               \
           -e ZAGG_SERVER=SERVERNAME                                                     \
           -e ZAGG_USER=USERNAME                                                         \
           -e ZAGG_PASSWORD=PASSWORD                                                     \
           -v /etc/localtime:/etc/localtime                                              \
           -v /run/pcp:/run/pcp                                                          \
           docker-registry.ops.rhcloud.com/ops/oso-rhel7-zagg-client


ExecReload=-/usr/bin/docker stop "oso-rhel7-zagg-client"
ExecReload=-/usr/bin/docker rm "oso-rhel7-zagg-client"
ExecStop=-/usr/bin/docker stop "oso-rhel7-zagg-client"

[Install]
WantedBy=default.target
