ansible
# flake8 moved to before setuptools-lint to satisfy mccabe dependency issue
flake8
setuptools-lint
coverage
mock
PyYAML
click
backports.functools_lru_cache
pyOpenSSL
yamllint
tox
detox
pytest
pytest-cov
