ansible
configparser
pylint
setuptools-lint
nose
coverage
mock
flake8
PyYAML
click
backports.functools_lru_cache
pyOpenSSL
yamllint
tox
detox
# Temporary work-around for flake8 vs maccabe version conflict
mccabe==0.5.3
