#/bin/sh
oc process glusterfs -p IMAGE_NAME='{{ glusterfs_image }}' -p IMAGE_VERSION='{{ glusterfs_version }}' -p CLUSTER_NAME='{{ glusterfs_name }}' NODE_LABELS='{{ glusterfs_nodeselector | from_yaml }}' | oc create -n '{{ glusterfs_namespace }}' -f - 
