[Global]
auth-url = {{ ocp_os_auth_url }}
username = {{ ocp_os_username }}
password = {{ ocp_os_password }}
{% if ocp_os_tenant_id %}
tenant-id = {{ ocp_os_tenant_id }}
{% else %}
tenant-name = {{ ocp_os_tenant_name }}
{% endif %}
{% if ocp_os_region %}
region = {{ ocp_os_region }}
{% endif %}
{% if ocp_os_lb_subnet_id is defined %}
+
+[LoadBalancer]
+subnet-id = {{ ocp_os_lb_subnet_id }}
+{% endif %}