apiVersion: image.openshift.io/v1
kind: ImageStreamTag
metadata:
  name: {{ node_tag_name }}
  namespace: kube-proxy-and-dns
tag:
  reference: true
  from:
    kind: DockerImage
    name: {{ osn_image }}
