[req]
prompt = no
distinguished_name = req_distinguished_name

default_md = sha256

[req_distinguished_name]
CN={{ req_attrs.cn }}
{% for org in req_attrs.org %}
{% if loop.index == 1 %}
O={{ org }}
{% else %}
+O={{ org }}
{% endif %}
{% endfor %}

[req_ext]
basicConstraints=critical,CA:FALSE
keyUsage=critical,digitalSignature, keyEncipherment
extendedKeyUsage=clientAuth
