[req]
prompt = no
distinguished_name = req_distinguished_name

default_md = sha256

[req_distinguished_name]
CN={{ hostvars[inventory_hostname].openshift.common.hostname }}

[req_ext]
subjectAltName = @alt_names
basicConstraints=critical,CA:FALSE
keyUsage=critical,digitalSignature, keyEncipherment
extendedKeyUsage=clientAuth

[alt_names]
DNS.0 = {{ hostvars[inventory_hostname].openshift.common.hostname }}
IP.0 = {{ hostvars[inventory_hostname].openshift.common.ip }}
