# config file for ansible -- http://ansible.com/
# ==============================================

# This config file provides examples for running
# the OpenShift playbooks with the provided
# inventory scripts. Only global defaults are
# left uncommented

[defaults]
# Add the roles directory to the roles path
roles_path = roles/

# Set the log_path
log_path = /tmp/ansible.log

forks = 10
host_key_checking = False
nocows = 1

retry_files_enabled = False

deprecation_warnings = False

# Need to handle:
# inventory - derive from OO_ANSIBLE_DIRECTORY env var
# callback_plugins - derive from pkg_resource.resource_filename
# private_key_file - prompt if missing
# remote_tmp - set if provided by user (cli)
# ssh_args - set if provided by user (cli)
# control_path

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed=true

# Additional ssh options for OpenShift Ansible
[ssh_connection]
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r
