# multi ec2 inventory configs
cache_max_age: {{ oo_inventory_cache_max_age }}
cache_location: {{ oo_inventory_cache_location | default('~/.ansible/tmp/multi_ec2_inventory.cache') }}
accounts:
{% for account in oo_inventory_accounts %}
  - name: {{ account.name }}
    provider: {{ account.provider }}
    provider_config:
{%  for section, items in account.provider_config.items() %}
      {{ section }}:
{%    for property, value in items.items() %}
        {{ property }}: {{ value }}
{%    endfor %}
{% endfor %}
    env_vars:
      AWS_ACCESS_KEY_ID: {{ account.env_vars.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: {{ account.env_vars.AWS_SECRET_ACCESS_KEY }}

{% endfor %}
