[Unit]
Description=calico
After={{ openshift.docker.service_name }}.service
Requires={{ openshift.docker.service_name }}.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f calico-node
ExecStart=/usr/bin/docker run --net=host --privileged \
 --name=calico-node \
 -e WAIT_FOR_DATASTORE=true \
 -e FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
 -e CALICO_IPV4POOL_IPIP={{ calico_ipv4pool_ipip }} \
 -e CALICO_IPV4POOL_CIDR={{ calico_ipv4pool_cidr }} \
 -e FELIX_IPV6SUPPORT=false \
 -e ETCD_ENDPOINTS={{ calico_etcd_endpoints }} \
 -v {{ calico_etcd_cert_dir }}:{{ calico_etcd_cert_dir }}  \
 -e ETCD_CA_CERT_FILE={{ calico_etcd_ca_cert_file }} \
 -e ETCD_CERT_FILE={{ calico_etcd_cert_file }} \
 -e ETCD_KEY_FILE={{ calico_etcd_key_file }} \
 -e NODENAME={{ openshift.common.hostname }} \
 -v {{ calico_log_dir }}:/var/log/calico\
 -v /lib/modules:/lib/modules \
 -v /var/run/calico:/var/run/calico \
 {{ calico_node_image }}


ExecStop=-/usr/bin/docker stop calico-node

[Install]
WantedBy=multi-user.target
