#cloud-config
disable_root: {{ openshift_openstack_disable_root }}

system_info:
  default_user:
    name: {{ openshift_openstack_user }}
    sudo: ["ALL=(ALL) NOPASSWD: ALL"]

write_files:
  - path: /etc/sudoers.d/00-openshift-no-requiretty
    permissions: 440
    content: |
      Defaults:openshift !requiretty
