#cloud-config
disable_root: true

system_info:
  default_user:
    name: openshift
    sudo: ["ALL=(ALL) NOPASSWD: ALL"]

write_files:
  - path: /etc/sudoers.d/00-openshift-no-requiretty
    permissions: 440
    content: |
      Defaults:openshift !requiretty
