#cloud-config
{% if type in ['node', 'master'] and 'docker' in volume_defs[type] %}
mounts:
- [ xvdb ]
- [ ephemeral0 ]
{% endif %}

write_files:
{% if type in ['node', 'master'] and 'docker' in volume_defs[type] %}
- content: |
    DEVS=/dev/xvdb
    VG=docker_vg
  path: /etc/sysconfig/docker-storage-setup
  owner: root:root
  permissions: '0644'
{% endif %}
{% if deployment_vars[deployment_type].become | bool %}
- path: /etc/sudoers.d/99-{{ deployment_vars[deployment_type].ssh_user }}-cloud-init-requiretty
  permissions: 440
  content: |
    Defaults:{{ deployment_vars[deployment_type].ssh_user }} !requiretty
{% endif %}
{% if type in ['node'] and sub_host_type in ['infra'] and openshift_persist_registry is defined and openshift_persist_registry | bool %}
runcmd:
  - mkdir -p /mnt/registry
  - chown 1001:root /mnt/registry
{% endif %}

