offerTypeId: microsoft-azure-virtualmachines
publisherId: redhat
id: osa
definition:
  displayText: OpenShift on Azure
  offer:
    microsoft-azure-marketplace-testdrive.enabled: false
    microsoft-azure-marketplace-testdrive.videos: []
    microsoft-azure-marketplace.title: OpenShift on Azure
    microsoft-azure-marketplace.summary: OpenShift on Azure
    microsoft-azure-marketplace.longSummary: OpenShift on Azure
    microsoft-azure-marketplace.description: OpenShift on Azure
    microsoft-azure-marketplace.offerMarketingUrlIdentifier: osa
    microsoft-azure-marketplace.allowedSubscriptions: {{ openshift_azure_templ_allowed_subscriptions | to_json }}
    microsoft-azure-marketplace.usefulLinks: []
    microsoft-azure-marketplace.categories: [appInfrastructure, businessApplication, devService, web]
    microsoft-azure-marketplace.smallLogo: "https://publishingstoredm.blob.core.windows.net/prodcontent/D6191_publishers_redhat/origin:2Dacsengine/62aad711-f499-461f-b74c-f4f31586b0f5.png?sv=2014-02-14&sr=b&sig=ewX%2F9aAkgG3EMLzBMPjyHuEzRDhvs8TmOsNWYPRXwg8%3D&se=2020-04-13T21%3A02%3A53Z&sp=r"
    microsoft-azure-marketplace.mediumLogo: "https://publishingstoredm.blob.core.windows.net/prodcontent/D6191_publishers_redhat/origin:2Dacsengine/df6bed86-6891-4558-848f-be236ec981d5.png?sv=2014-02-14&sr=b&sig=QzYeJ6qdoMoUTCeaFycpqrBpO0Lnr7upy%2FQCArYvhno%3D&se=2020-04-13T21%3A02%3A53Z&sp=r"
    microsoft-azure-marketplace.largeLogo: "https://publishingstoredm.blob.core.windows.net/prodcontent/D6191_publishers_redhat/origin:2Dacsengine/b486c038-bf6a-4881-a5c6-d3619bb27884.png?sv=2014-02-14&sr=b&sig=1BetRsM%2BJch9zhYaagMcYwkD7Lantdm%2FInHUQ7LfJZ0%3D&se=2020-04-13T21%3A02%3A53Z&sp=r"
    microsoft-azure-marketplace.wideLogo: "https://publishingstoredm.blob.core.windows.net/prodcontent/D6191_publishers_redhat/origin:2Dacsengine/141969bb-300b-47a3-ae9f-2573af3e8720.png?sv=2014-02-14&sr=b&sig=DnhC36RA3rGNOqByHrP8dvIBmgCHQr95%2B5PqJe9D1qk%3D&se=2020-04-13T21%3A02%3A53Z&sp=r"
    microsoft-azure-marketplace.screenshots: []
    microsoft-azure-marketplace.videos: []
    microsoft-azure-marketplace.leadDestination: None
    microsoft-azure-marketplace.tableLeadConfiguration: {}
    microsoft-azure-marketplace.blobLeadConfiguration: {}
    microsoft-azure-marketplace.salesForceLeadConfiguration: {}
    microsoft-azure-marketplace.crmLeadConfiguration: {}
    microsoft-azure-marketplace.httpsEndpointLeadConfiguration: {}
    microsoft-azure-marketplace.marketoLeadConfiguration: {}
    microsoft-azure-marketplace.privacyURL: "https://www.redhat.com/en/about/privacy-policy"
    microsoft-azure-marketplace.termsOfUse: TODO
    microsoft-azure-marketplace.engineeringContactEmail: support@redhat.com
    microsoft-azure-marketplace.engineeringContactName: Red Hat Support
    microsoft-azure-marketplace.engineeringContactPhone: 888-467-3342
    microsoft-azure-marketplace.supportContactEmail: support@redhat.com
    microsoft-azure-marketplace.supportContactName: Red Hat Support
    microsoft-azure-marketplace.supportContactPhone: 888-467-3342
    microsoft-azure-marketplace.publicAzureSupportUrl: ''
    microsoft-azure-marketplace.fairfaxSupportUrl: ''
  plans:
  - planId: {{ azure_image_publish[image_type].templ_plan_id }}
    microsoft-azure-virtualmachines.skuTitle: {{ azure_image_publish[image_type].templ_sku_title }}
    microsoft-azure-virtualmachines.skuSummary: {{ azure_image_publish[image_type].templ_sku_title }}
    microsoft-azure-virtualmachines.skuDescription: {{ azure_image_publish[image_type].templ_sku_title }}
    microsoft-azure-virtualmachines.hideSKUForSolutionTemplate: true
    microsoft-azure-virtualmachines.cloudAvailability: [PublicAzure]
    microsoft-azure-virtualmachines.certificationsFairfax: []
    restrictedAudience:
      manualEntries: {{ openshift_azure_templ_restricted_audience_manual_entries | to_json }}
    virtualMachinePricing: {isByol: true, freeTrialDurationInMonths: 0}
    microsoft-azure-virtualmachines.operatingSystemFamily: Linux
    microsoft-azure-virtualmachines.osType: {{ azure_image_publish[image_type].templ_os_type }}
    microsoft-azure-virtualmachines.operationSystem: {{ azure_image_publish[image_type].templ_os }}
    microsoft-azure-virtualmachines.recommendedVMSizes: [d2s-standard-v3, d4s-standard-v3]
    microsoft-azure-virtualmachines.openPorts: []
    microsoft-azure-virtualmachines.vmImages: {{ image_vm_images | to_json }}
    regions: [DZ, AR, AU, AT, BH, BY, BE, BR, BG, CA, CL, CO, CR, HR, CY, CZ, DK,
      DO, EC, EG, SV, EE, FI, FR, DE, GR, GT, HK, HU, IS, IN, ID, IE, IL, IT, JP,
      JO, KZ, KE, KR, KW, LV, LI, LT, LU, MK, MY, MT, MX, ME, MA, NL, NZ, NG, 'NO',
      OM, PK, PA, PY, PE, PH, PL, PT, PR, QA, RO, RU, SA, RS, SG, SK, SI, ZA, ES,
      LK, SE, CH, TW, TH, TT, TN, TR, UA, AE, GB, US, UY, VE]
